:root {
    --color-orange: #FC7614;
    --color-white: #FFF;
    --color-light-gray: #969FAD;
    --color-medium-gray: #7C8798;
    --color-dark-blue: #262E38;
    --color-very-dark-blue: #131518;

    --black-gradient: radial-gradient(98.96% 98.96% at 50.00% 0%, #232A34 0%, #181E27 100%);

    --ff-base: 'Overpass', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}

$bp-width-desktop: 90em; // 1440px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    // centering content
    display: grid;
    place-content: center;
    min-height: 100vh;
}